@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0 40px;
    background-color: rgb(197,197,197);
  }

  * {
    box-sizing: border-box;
  }


.app {
    margin-top:50px ;
    width: 700px ;
 }
  
  .form-control {
    margin-top: 10px;
    position: relative;
  }
  
  .form-control input,
  .form-control label {
    display: block;
  }
  
  .form-control label {
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  
  .form-control input,
  .form-control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 40rem;
    max-width: 100%;
  }
  
  .form-control input:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd;
  }
  
  .control-group {
    display: flex;
    flex-direction: column;
  }
  
  .control-group .form-control {
    min-width: 15rem;
    flex: 1;
  }
  
  button {
    font: inherit;
    background-color: rgb(88, 154, 168);
    color: white;
    border: 1px solid rgb(88, 154, 168);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 40rem;
  }
  
  button:hover,
  button:active {
    background-color:rgb(139,212,229);
    border-color: rgb(139,212,229);
  }


  .button-disabled{
    background-color: #b1b1b1;
    border-color: #b1b1b1 ;
  }

  .button-disabled:hover{
    background-color: #b1b1b1;
    border-color: #b1b1b1 ;
  }

  .login{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }

  .nounderline{
    text-decoration: none;
    color: black;
  }


  html {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  .eye-icon{
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
    top: 70%;
    right: 70px;
  }
  